<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Simple EJS App</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Welcome to my Simple EJS App!</h1>
    <p>This is a simple Node.js app using EJS and CSS.</p>
  </body>
</html>
